// 主要色
$main_color: #b3bdda; //#abb7d6;
$gradient_color: #AFC6D3;
$gradient_color_2: #56d0ff; //#03b9ff;


// hover
$hover_color: #cf9a07;
$arrow_hover: #e6b772;

$bg_color: #ebebeb;

// 少次使用
$logo_color: #ce9808;


// Progress
$progress-color: #e26789;