.footer{
	height: 200px;
	background-color: rgba(34, 34, 34, 0.38);
	position: relative;
	.copyright{
		position: absolute;
		bottom: 0;
		background-color: rgba(34, 34, 34, 0.8);
		height: 50px;
		width: 100%;
		p{
			line-height: 50px;
			color: #ebebeb;
			font-size: 18px;
			text-align: center;
		}
	}
}