.Parallax{
	overflow: hidden;
	background-image: url(../img/stairway-828883_1921.jpg);
  	background-position: bottom center;
  	background-size: cover;
  	background-attachment: fixed;
}

.ditch{
	height: 150px;
	p{
		color: #ebebeb;
	}
}